name: Build
on:
  push:
    branches: [ "**" ]
    tags: [ "v**" ]
  pull_request:
  release:
    types: [ released ]

jobs:
  build:
    # Only run on PRs if the source branch is on someone else's repo
    if: ${{ (github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name) && (github.event.name != 'push' || !startsWith(github.ref, 'refs/tags/') || contains(github.ref, '+beta.')) }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17 ]
      fail-fast: true
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - name: JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        # gradle build action can't handle project dir local caches
      - uses: actions/cache@v3
        with:
          path: |
            .gradle/loom-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/libs.versions.*', '**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-
      - name: Build
        run: ./gradlew build --stacktrace
      - name: Determine Snapshot Status
        run: |
          if [ "$(./gradlew properties | awk '/^version:/ { print $2; }' | grep '\-SNAPSHOT')" ]; then
            echo "STATUS=snapshot" >> $GITHUB_ENV
          else
            echo "STATUS=release" >> $GITHUB_ENV
          fi
#      - name: Publish Snapshot to Maven
#        if: "${{ env.STATUS != 'release' && github.event_name == 'push' && github.ref == 'refs/heads/2.1' }}"
#        run: ./gradlew publish --stacktrace
#        env:
#          ORG_GRADLE_PROJECT_parksUsername: "${{ secrets.CI_USER }}"
#          ORG_GRADLE_PROJECT_parksPassword: "${{ secrets.CI_PASS }}"
#      - name: Publish (Pre-)Release to Maven
#        if: "${{ env.STATUS == 'release' && github.event_name == 'release' }}"
#        run: ./gradlew publish --stacktrace
#        env:
#          ORG_GRADLE_PROJECT_parksUsername: "${{ secrets.CI_USER }}"
#          ORG_GRADLE_PROJECT_parksPassword: "${{ secrets.CI_PASS }}"
      - name: Parse tag
        if: "${{ github.event_name == 'push' && contains(github.ref, '+beta.') }}"
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - name: Create Pre-Release and changelog
        if: "${{ github.event_name == 'push' && contains(github.ref, '+beta.') }}"
        uses: MC-Machinations/auto-release-changelog@v1.1.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: CarbonChat ${{ steps.vars.outputs.tag }}
          pre-release: true
      - name: Publish (Pre-)Release to Hangar
        if: "${{ env.STATUS == 'release' && (github.event_name == 'release' || (github.event_name == 'push' && contains(github.ref, '+beta.'))) }}"
        run: ./gradlew publishAllPublicationsToHangar
        env:
          HANGAR_UPLOAD_KEY: "${{ secrets.HANGAR_UPLOAD_KEY }}"
          RELEASE_NOTES: "${{ github.event.release.body }}"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Jars
          path: build/libs/*.jar
